<button id="deleteTeamButton">delete</button>
<input id="updateTeamName">
<button id="updateTeamButton">change</button>
<input id="addPlayerToTeam">
<button id="addPlayerToTeamButton">Add Player</button>
<script src="/javascripts/updateTeam.js"></script>